<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <!--===================================================================================================================-->
    <!--Use Spartan Database (When true requires DB connection info in the app.config) -->
    <!--===================================================================================================================-->
    <add key="UseDB" value="false" />

    <!--===================================================================================================================-->
    <!--Set the WebDriver Browser Settings:
	          - TestBrowser..........: Browser type (Options:  Internet Explorer, Edge or Chrome )
			  - AsHeadlessBrowser....: true or false to run browser as headless (for Chrome or Edge only)
			  - HeadlessWindowSize...: Browser Window size when running as headless
			  - UseIncognitoMode.....: true or false when using Chrome to run in IncognitoMode (recommend to set to true)
			  - UseInPrivateMode.....: true or false when using Edge to run in PrivateMode (recommend to set to true) -->
    <!--===================================================================================================================-->
    <add key="TestBrowser" value="Edge" />
    <add key="AsHeadlessBrowser" value="false" />
    <add key="HeadlessWindowSize" value="1200,1100" />
    <add key="UseIncognitoMode" value="true" />
	<add key="UseInPrivateMode" value="true" />

    <!--===================================================================================================================-->
    <!-- Spartan Logging 
                 - XmlResultsGenerateset...: Set to true to generate Spartan log files 
                 - ResultsDir..............: Specify the directory for Spartan to save xml logs and screen shots (default will be a folder in the test assembly directory) 
                 - TransposeXmlResults.....: Set to 'true' to convert the xml Spartan logs to readable Html logs. (XmlResultsGenerate must be set to true) 
				 - TransposeXslFileName....: Tanspose file to use (default will be 'ScenarioResults.xsl') -->
    <!--===================================================================================================================-->
    <add key="XmlResultsGenerate" value="true" />
    <!--<add key="ResultsDir" value="C:\SpartanDemoTests\WebTests" />-->
    <add key="ResultsDir" value="" />
    <add key="TransposeXmlResults" value="true" />
    <add key="TransposeXslFileName" value="" />

    <!--===================================================================================================================-->
    <!-- Other Logging Options-->
    <!--===================================================================================================================-->
    <add key="LogType" value="Browser" />            <!-- Browser | Client | Driver | Profiler | Server -->
    <add key="LogLevel" value="Off" />               <!-- All | Debug | Info | Warning | Severe | Off -->
    <add key="GetServerHostInfo" value="false" />    <!-- Not applicable to all test applications (See Spartan Release Notes v1.0.92 for more information) -->
    <add key="TakeWebObjectTimings" value="false" /> <!-- Take WebObjectInteraction Timings-->
    
    <!--===================================================================================================================-->
    <!-- ScreenShot Options-->
    <!--===================================================================================================================-->
    <!--       So if you select Warn >> all Warnings \ Fails will be created-->
    <!--       So if you select Pass >> all Pass \ all Warnings \ Fails will be created-->
    <add key="ScreenshotLevel" value="Fail" /> <!-- All | Pass | Warn | Fail | None -->
    <add key="ScreenshotType" value="jpg" />   <!-- png | jpeg | bmp | gif | tiff  -->


    <!--===================================================================================================================-->
    <!-- RemoteWebDriver Settings (Ex Selenium Grid, Cross Browser Testing, Experitest..) -->
    <!--===================================================================================================================-->
    <add key="UseRemoteExecution" value="false" />
    <add key="RemoteDriveHubUrl" value="https://computershare.experitest.com/wd/hub" /> <!-- https://computershare.experitest.com/wd/hub | http://hub.crossbrowsertesting.com:80/wd/hub-->

    <!--===================================================================================================================-->
    <!--Web Driver Page Settings-->    
    <!--   
        PageLoadStrategy (Options):
              Normal:   Waits for Pages to load and ready state to be 'complete'
              Eager:    Waits for Pages to load and ready state to be 'complete' or 'interactive'
              None:     Does not wait for the Page to Load, returning immediately
              
              NOTE: Eager is currently not available in Chrome.
    -->
    <!--===================================================================================================================-->
    <add key="PageLoadStrategy" value="Normal" /> <!-- None | Eager | Normal  -->
    <add key="PageLoadTimeoutSeconds" value="" /> <!-- Selenium default is 30 seconds  -->
    <add key="PageModelCacheType" value="MultiplePage" />

    <!--===================================================================================================================-->
    <!-- Web Performance Metrics Settings 
               See Demo test in the Spartan.Demo.Web project on how implementation works 
               ** Only supported when using Chrome or Edge! ** 
	       Settings: 
              - MetricsEnabled..............: true or false to collect web performance metrics 
              - MetricType..................: Metrics tool to use to collect metrics. 
                                              Tool Choices: Javascript or DevTools (Chronium DevTools) 
              - WebPerformanceResultsPath...: Root directory to save gathered metrics info to json files 
                                              If not provided, then results are written to the specified 'ResultsDir' setting -->
    <!--===================================================================================================================-->
    <add key="MetricsEnabled" value="false" />
    <add key="MetricType" value="DevTools" />
    <add key="WebPerformanceResultsPath" value="C:\SpartanDemo\WebPerformanceResults" />

    <!--===================================================================================================================-->
    <!--Original UK Spartan App.Config Settings-->
    <!--===================================================================================================================-->
    <!-- Environment Specific Values -->
    <add key="ApplicationUrl" value="" />
    <add key="UserName" value="" />
    <add key="Password" value="" />

    <!-- Registry Setting alternative values -->
    <add key="UseRegistrySettings" value="false" />
    <add key="TestEnvironment" value="" />
    <add key="ICEAccount" value="" />
    <add key="LabEnvironment" value="" />
    <add key="RunGroup" value="Spartan Execution" />

    <add key="Project" value="SpartanCreatedFromTemplate" />
    <add key="LoginFromPoolRequired" value="false" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.QualityTools.UnitTestFramework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
