<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="CTS-Bradfield" value="https://pkgs.dev.azure.com/CTS-Bradfield/_packaging/CTS-Bradfield/nuget/v3/index.json" />
		<add key="CTS-Edison" value="https://pkgs.dev.azure.com/CTS-Edison/_packaging/CTS-Edison/nuget/v3/index.json" />
		<add key="Nuget.Org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>